.inputan {
    position: absolute;
    width: 100%;
    bottom: -10px;
}
img {
    width: 70%;
}
button {
    border-start-start-radius: 0 !important;
    border-end-start-radius: 0 !important;
    border-end-end-radius: 20px !important;
    border-start-end-radius: 20px !important;
    padding-right: 20px !important;
}
#namaInput {
    border-start-end-radius: 0 !important;
    border-end-end-radius: 0 !important;
    border-start-start-radius: 20px;
    border-end-start-radius: 20px;
}
